* {
    box-sizing: border-box;
  }

  p {
    line-height: 1.2;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* Front page */
  .header {
    padding: 80px;
    text-align: center;
    color: white;
    height: 100vh;
  }
  
  /* Text on front page */
  .header h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 30vh;
    text-shadow: 0 0 10px #182a28;
    }

  .header p {
    font-size: 25px;
    font-family: serif;
    text-shadow: 0 0 7px #182a28;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden; /* prevents scrollbars from showing up */
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-shadow: 0 0 10px #182a28;
    background-color: #a5c3bf;
    border-radius: 30px;
    /* box-shadow: 0 0 10px #182a28; */
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 30px;
    text-shadow: 0 0 10px #182a28;
  }
  
  /* Change color on active */
  .navbar a:active {
    background-color: #182a28;
    color: white;
  }
  
  /* clickable titles */
  .product {
    cursor: pointer;
    background-color: #a5c3bf;
    width: 75vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    /* margin-top: -10vh;
    padding-top: 10vh; */
  }

  .content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 30vh;
    color: white;
    text-shadow: 0 0 10px #182a28;
    padding: 30px;
  }

  /* hover titles */
  .product:hover {
    background-color: transparent;
    border-radius: 40px;
    text-shadow: 0 0 10px #182a28;
    box-shadow: 0 0 10px #182a28;
  }

  /* .product h1:hover {
    background-color: #ddd;
    color: black;
    border-radius: 40px;
    text-shadow: 0 0 10px #182a28;
  } */

  /* alignment */
  .aboutme, .projects, .resume, .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* slide-out-panel */
  .slide-out-panel {
    display: none;
    background-color: #bbd5d1;
    width: 85vw;
    margin: 20px;
    border-radius: 40px;
  }
  
  /* images */
  img {
    border-radius: 30px;
  }

  /* about me */
  .contentaboutme {
    display: flex;
    flex-direction: row;
  }

  .contentaboutme img {
    width: 30vw;
    margin: 20px;
  }

  .textbio {
    padding: 20px 10% 20px 20px;
  }

  .textbio ul {
    list-style-type: none;
  }

  .textbio li {
    padding-bottom: 8px;
  }

  /* whitespace */
  .whitespace {
    height: 30vh;
    margin: 0;
  }

  /* Projects */
  .projects img {
    width: 35vw;
  }

  .contentprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* the width of a project */
  .oneproject {
    width: 35vw;
  }

  .download_document {
    text-decoration: none;
    color: lightgrey;
    text-shadow: 0 0 10px #182a28;
    display: flex;
    margin: 10px;
  }

  /* slideshow */
  /* buttons */
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttonleft, .buttonright {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 10px #182a28;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .slideshow-container img {
    margin-bottom: 10px;
  }

  /* resume */
  .resumepdf {
    text-decoration: none;
    color: lightgrey;
    text-shadow: 0 0 10px #182a28;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  /* game */
  .game .slide-out-panel{
    width: 820px;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }